.accordion {
    background-color: black;
}

.accordion-button.collapsed {
  background-color: rgb(0, 0, 0);
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white;
}

.accordion-body {
  background-color: #1a1a1a;
  color: #ffffff;
}

.accordion-button:hover {
  background-color: rgb(37, 101, 153);
}

.accordion-button:focus {
  box-shadow: none;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.content {
  position: relative;
  z-index: 2;
}
.card {
  background-color: #1a1a1a;
  color: white;
}

@media(min-width: 768px) {
    .cont-size {
        width: 40rem;
    }
}

.text-darkgrey{
  color: darkgrey;
}

h1 {
  color: white;
  margin-bottom: 1rem;
}

a.estilo-texto {
  text-decoration: none;      
  color: inherit;             
  cursor: pointer;            
  transition: color 0.3s ease;
}

a.estilo-texto:hover {
  color: #007bff;        
}